<launch>
   <group ns="bot0">
      <node pkg="argos_bridge" type="wall_following_controller.py" name="wall_following_controller" output="screen" />
   </group>
   <group ns="bot1">
      <node pkg="argos_bridge" type="wall_following_controller.py" name="wall_following_controller" output="screen" />
   </group>
</launch>




